.panel
  button.button.small-button.flat-blue-button ui-sref='authenticated.main.notifications.templates.index' List Templates
  button.button.small-button.flat-blue-button ui-sref='authenticated.main.notifications.send' Send Notification