$purple: rgb(107, 71, 209);
$lavender: rgb(185, 71, 209);
$dark-blue: rgb(26, 95, 216);
$pink: rgb(220, 75, 137);
$watermelon: rgb(241, 94, 82);
$tangerine: rgb(241, 151, 82);
$light-orange: rgb(241, 183, 82);
$yellow: rgb(241, 215, 82);
$lime-yellow: rgb(232, 238, 81);
$lime: rgb(163, 222, 75);
$green: rgb(71, 209, 101);
$light-blue: rgb(71, 166, 209);

$white: #fff;
$black: #222;

$valid-form-color: rgba(40,213,100,0.3);
$invalid-form-color: $watermelon;